.fuente1{ 
        font-family: 'Fondamento', cursive;
    }


.fondo{
        background-image: url("img/soberband.jpg") ;
        height: 600px;
        background-attachment: fixed;
}   

.zoom{
        transition: transform .2s;
    }
.zoom:hover{        transform: scale(1.3); }